<!-- Define que el documento esta bajo el estandar de HTML 5 -->
{% load static %}
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">
    
    <head>
        
        <meta charset="utf-8">
        
        <title> Formulario de Acceso </title>    
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Link hacia el archivo de estilos css -->
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    
        
    </head>
    
    <body>
    
        <div id="contenedor">
            
            <div id="contenedorcentrado">
                <div id="login">
                    <form id="loginform">
                        
                            <a href="admin"> 
                                <button type="button" class="btn btn-light">INICIAR SESION</button>
                            </a>
                    </form>
                    
                </div>
                <div id="derecho">
                    <div class="titulo">
                        BIENVENIDOS
                    </div>
                    <hr>
                    
                </div>
            </div>
        </div>
    </body>
</html>